<footer class="pt-5 my-5 text-muted border-top">
    <div class="row">
      <div class="col-md-12 text-center social-media-icons">
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
    {% if page.url == '/cv/' %}
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <a href="{{ '/assets/CV_NickNunley.pdf' | relative_url }}" download class="btn btn-outline-primary me-1">
          Download CV as PDF
        </a>
        <a href="{{ '/assets/CV_NickNunley.md' | relative_url }}" download class="btn btn-outline-primary ms-1">
          Download CV as markdown
        </a>
      </div>
    </div>
    {% endif %}
  </footer>
