---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
          {% if section.details %}
            <ul>
              {% for item in section.details %}
                {% if item.name and item.url %}
                  <ul class="ms-4">
                    <li style="font-size: 0.9em;">
                      <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                    </li>
                  </ul>
            {% elsif item.subdetail %}
              <ul class="ms-4">
                <li style="font-size: 0.9em;">
                  {{ item.subdetail }}
                </li>
              </ul>
                {% else %}
                  <li>{{ item }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
          {% if section.details %}
            <ul>
              {% for item in section.details %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>