---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    <ul class="list-unstyled">
      {% assign sorted_slides = site.slides | sort: "date" | reverse %}
      {% for slide in sorted_slides %}
        <li class="mb-3">
          <time class="text-muted me-2" datetime="{{ slide.date }}">
            {{ slide.date | date: "%b %-d, %Y" }}
          </time>
          <a href="{{ slide.url | relative_url }}" class="text-primary">
            {{ slide.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
